@import '../../../styles/styles.less';

:host {
  display: block;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

p {
  margin-bottom: 30px;
}

form {
  align-self: center;

  label + input {
    margin-bottom: 20px;
  }

  p.error {
    margin-top: 0;
    margin-bottom: 20px;
  }

  button {
    margin-left: auto;

    mat-spinner {
      display: inline-block;
      margin-right: 10px;
      vertical-align: -5px;
    }
  }
}
