<img src="assets/ucpe-setup-package.svg" width="200">

<div fxLayout="row" fxLayoutGap="50px" class="body">
  <section fxFlex="50%">
    <p><strong>Welcome to the ExP Edge Provisioning Portal</strong></p>
    <p>
      Before provisioning, add this device's Site to Nefeli Weaver. Once added, generate and download a site package
      file,
      and make a note of the package's passphrase.
    </p>
    <p>
      To provision the ExP Edge device, make sure the WAN port is connected to the Internet. Then select the device's
      site
      package file to the right, provide the package's passhprase, and click "Provision."
    </p>

    <p>
      If you encounter any problems during this process, verify this device's site configuration on Nefeli Weaver,
      generate a new package file, and try again.
    </p>
  </section>

  <form fxLayout="column" fxFlex="50%" [formGroup]="packageUploadForm" (ngSubmit)="submitPackageUploadForm()">
    <label class="input-label">Package File</label>
    <input type="file" accept=".pkg, application/octet-stream" (change)="onUploadPackage($event)">

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Passphrase</mat-label>
      <input type="password" placeholder="Package file's passphrase" matInput formControlName="passphrase"
        autocomplete="one-time-code">
      <mat-error>Passphrase is <strong>required</strong></mat-error>
    </mat-form-field>

    <p class="error" [innerHTML]="packageUploadForm.errors?.upgradeAgentError"
      *ngIf="packageUploadForm.hasError('upgradeAgentError')"></p>

    <button mat-flat-button color="primary" [disabled]="!package">
      <mat-spinner diameter="20" strokeWidth="1" *ngIf="isUpgrading"></mat-spinner>
      Provision
    </button>
  </form>
</div>