<h1>Device Setup</h1>

<mat-tab-group #tabGroup>
  <!-- Package upload -->
  <mat-tab>
    <ng-template matTabContent>
      <mat-card>
        <nefagent-package-upload (activated)="onActivated($event)"></nefagent-package-upload>
      </mat-card>
    </ng-template>
  </mat-tab>

  <!-- Provisioning status -->
  <mat-tab>
    <ng-template matTabContent>
      <mat-card>
        <nefagent-status [pkgInfo]="pkgInfo" (statusComplete)="onStatusComplete($event)" (goToTab)="goToTab($event)"
          [provisioningAlreadyInProgress]="provisioningAlreadyInProgress" [showRestartSnackbar]="showRestartSnackbar">
        </nefagent-status>
      </mat-card>
    </ng-template>
  </mat-tab>

  <!-- Completion status -->
  <mat-tab>
    <ng-template matTabContent>
      <mat-card>
        <nefagent-completion [title]="complete.title" [description]="complete.description" [mode]="complete.mode">
        </nefagent-completion>
      </mat-card>
    </ng-template>
  </mat-tab>
</mat-tab-group>