@import '../../styles/styles.less';

mat-toolbar {
  background: @black;
  height: 52px;

  img {
    height: 30px;
    margin-left: 30px;
  }

  .help {
    color: @pure-white;
    float: right;
  }
}
