<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <img src="../../assets/nefeli-logo.svg" />
  <a href="https://docs.nefeli.io/docs/[nefeli-version-placeholder]/installation/exp-edge/" target="_blank">
    <span class="material-icons help">help_outline</span>
  </a>
</mat-toolbar>