<img src="assets/ucpe-setup-provisioning.svg" width="200">

<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step editable="false" [completed]="currentStepIndex > 0">
    <ng-template matStepLabel>Upgrading Nefeli agent software <mat-spinner *ngIf="stepper.selectedIndex === 0" diameter="15"
        strokeWidth="1"></mat-spinner>
    </ng-template>
  </mat-step>
  <mat-step editable="false" [completed]="currentStepIndex > 1">
    <ng-template matStepLabel>Installing bootstrap package <mat-spinner *ngIf="stepper.selectedIndex === 1"
        diameter="15" strokeWidth="1"></mat-spinner>
    </ng-template>
  </mat-step>
  <mat-step editable="false" [completed]="currentStepIndex > 2">
    <ng-template matStepLabel>Contacting provisioning server <mat-spinner *ngIf="stepper.selectedIndex === 2"
        diameter="15" strokeWidth="1"></mat-spinner>
    </ng-template>

    <span class="step-error" *ngIf="hasRollbackError">Could not provision device, retrying…</span>
  </mat-step>
  <mat-step editable="false" [completed]="currentStepIndex > 3">
    <ng-template matStepLabel>Installing services <mat-spinner *ngIf="stepper.selectedIndex === 3" diameter="15"
        strokeWidth="1"></mat-spinner>
    </ng-template>
    <span class="step-error" *ngIf="hasRollbackError">Could not provision device, retrying…</span>
  </mat-step>
  <mat-step editable="false" [completed]="currentStepIndex > 4">
    <ng-template matStepLabel>Configuring device <mat-spinner *ngIf="stepper.selectedIndex === 4" diameter="15"
        strokeWidth="1"></mat-spinner>
    </ng-template>
    <span class="step-error" *ngIf="hasRollbackError">Could not provision device, retrying…</span>
  </mat-step>
</mat-vertical-stepper>