@import '../../../styles/styles.less';

:host {
  display: block;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.step-error {
  &:extend(.small);
  &:extend(.italic);

  color: @red;
}

mat-spinner {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}