<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content [innerHTML]="content"></mat-dialog-content>
<mat-dialog-actions>
  <button *ngFor="let button of buttons" mat-flat-button color="primary" (click)="button.callback()">{{ button.label }}</button>
  <button mat-flat-button mat-dialog-close>Close</button>
</mat-dialog-actions>