/* stylelint-disable color-no-hex */

// Application Color Palette
@blue: #0198CF;
@pink: #E258A3;
@green: #87C56F;
@yellow: #F4B728;
@red: #FF4757;
@soft-pink: #FFEFED;
@light-pink: #F58AB4;
@lime-green: #2ED573;
@bright-blue: #5959FF;
@mild-blue: #E5F0FF;
@soft-blue: #4093FF;
@deep-blue: #006FFF;
@light-blue: #67D7FF;
@purple: #A366FF;
@orange: #FFA750;
@sunny-yellow: #FFC400;
@gold: #ECCC68;
@acid-green: #63E0AE;
@soft-green: #EAFAF2;
@black: #2B2E33;
@pure-black: #000000;
@dark-grey: #78828F;
@arsenic: #9AA7B8;
@grey: #CED6E0;
@soft-grey: #E1E5EB;
@light-grey: #F0F2F5;
@bg-grey: #F6F7F8;
@pure-white: #FFFFFF;
@font-black: @black;
@font-dark-grey: #4E5866;
@font-grey: #9AA7B8;
@font-blue: #4093FF;
@font-positive: #2ED573;
@font-negative: #FF4757;
@font-bright-blue: #4093FF;
@font-orange: #2ED573;
@font-acid-green: #63E0AE;
