@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 500;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: @font-weight-light;
  font-display: auto;
  src: url('../assets/font/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: @font-weight-normal;
  font-display: auto;
  src: url('../assets/font/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: @font-weight-bold;
  font-display: auto;
  src: url('../assets/font/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: @font-weight-normal;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../assets/font/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}