.text-default-size {
  font-size: 16px;
}

.text-small-size {
  font-size: 12px;
}

.font-weight-light {
  font-weight: @font-weight-light;
}

.font-weight-normal {
  font-weight: @font-weight-normal;
}

.font-weight-bold {
  font-weight: @font-weight-bold;
}

.letter-spacing-small {
  letter-spacing: 0.8px;
}

.letter-spacing-extra-small-negative {
  letter-spacing: -0.2px;
}

h1 {
  &:extend(.font-weight-bold);
  font-size: 32px;
}

h2 {
  &:extend(.font-weight-bold);
  font-size: 28px;
}

h5 {
  &:extend(.text-default-size);
  &:extend(.font-weight-normal);
}

.small {
  &:extend(.font-weight-normal);
  font-size: 13px;
}

strong {
  &:extend(.font-weight-bold);
}

.italic {
  font-style: italic;
}

.error {
  &:extend(.text-small-size);
  color: @font-negative;
}

.input-label {
  &:extend(.font-weight-bold);
  &:extend(.letter-spacing-small);
  margin-bottom: 1.34375em;
  color: @dark-grey;
  font-size: 11.9px;
  text-transform: uppercase;
}
