.mat-form-field {
  margin-bottom: 20px;

  &.mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 25px;
  }

  .mat-form-field-label {
    &:extend(.font-weight-bold);
    &:extend(.letter-spacing-small);
  }

  .mat-form-field-label,
  &.mat-focused .mat-form-field-label,
  &.mat-form-field-invalid .mat-form-field-label,
  .mat-input-element::placeholder {
    color: @dark-grey;
  }

  &.mat-form-field-should-float {

    .mat-form-field-label-wrapper {
      @label-bottom-space: 20px;

      top: -@label-bottom-space;
      padding-top: @label-bottom-space;
    }

    .mat-form-field-label {
      transform: translateY(-1.34375em) scale(0.85);
      text-transform: uppercase;

      mat-label {
        font-size: 14px;
      }
    }
  }

  .mat-input-element,
  .mat-input-element::placeholder {
    &:extend(.text-default-size);
    &:extend(.font-weight-normal);
    &:extend(.letter-spacing-extra-small-negative);
  }

  &.mat-focused .mat-form-field-ripple {
    background-color: @blue;
  }

  &.mat-form-field-invalid .mat-form-field-ripple {
    background-color: @red;
  }
}