@import 'styles/fonts.less';
@import 'styles/colors.less';
@import 'overrides/overrides.less';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: @bg-grey;
  color: @black;
}